body {
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
      align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
button{
  
    background-color: #667eea;
    color: white;
    border: none;
    padding: 10px 20px; 
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
    
}
div.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(208, 245, 245, 0.8);
}
p{
    font-size: 18px;
    color: #333;
    font-weight: bold;
}